#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// Layer numbers. The LYR_ prefix keeps these macros from also rewriting the
// layer node names below, which ZMK Studio shows to the user.
// mac=1, ios=2
#define LYR_MOUSE    3
#define LYR_MARK     4
#define LYR_CURSOR   5
#define LYR_FUNCTION 8
#define LYR_GAME     9

//mouse cursor
&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll
&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&msc_input_listener {
    speed_up {
        layers = <LYR_FUNCTION>;
        input-processors = <&zip_wheel_scaler 3 1>;
    };
};

&trackball_listener {
    // Rotate the trackball 90 degrees on the game layer so that pushing the
    // ball to the right moves the cursor up.
    game_rotate {
        layers = <LYR_GAME>;
        input-processors =
            <&zip_xy_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)>;
    };

    scroller {
        layers = <LYR_FUNCTION>;
        input-processors =
            <&zip_xy_transform INPUT_TRANSFORM_Y_INVERT>,
            <&zip_xy_to_scroll_mapper>;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        tabs {
            bindings = <&kp TAB>;
            key-positions = <0 1>;
        };

        // A + G toggles the game layer on and off (works from either layer).
        game_toggle {
            bindings = <&tog LYR_GAME>;
            key-positions = <10 14>;
        };

        mb1 {
            bindings = <&mkp MB1>;
            key-positions = <17 16>;
        };

        mb2 {
            bindings = <&mkp MB2>;
            key-positions = <18 17>;
        };
    };

    behaviors {


        batt_disp: batt_disp {
            compatible = "zmk,behavior-battery-display";
            #binding-cells = <0>;
        };

        bt_layer: bt_layer {
            compatible = "zmk,behavior-bt-layer";
            #binding-cells = <1>;
            display-name = "Wireless Layer";
        };

        bt_base: bt_base {
            compatible = "zmk,behavior-bt-base";
            #binding-cells = <1>;
            display-name = "Wireless Base";
        };


        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&msc>, <&msc>;
            tap-ms = <20>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // 0
        default_layer {
            bindings = <
&kp Q             &kp W         &kp E  &kp R      &kp T                                                   &kp Y        &kp U  &kp I      &kp O          &kp P
&kp A             &kp S         &kp D  &kp F      &kp G                                                   &kp H        &kp J  &kp K      &kp L          &kp SEMICOLON
&mt LEFT_SHIFT Z  &kp X         &kp C  &kp V      &kp B                                                   &kp N        &kp M  &kp COMMA  &kp DOT        &kp SLASH
&mo LYR_FUNCTION  &kp LEFT_WIN  &kp LEFT_ALT  &kp LCTRL  &lt LYR_MARK LANG2  &lt LYR_FUNCTION SPACE    &kp ENTER  &lt LYR_CURSOR LANG1    &kp ESC    &kp LS(LG(S))  &kp RIGHT_ALT
            >;
            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        // 1
        mac {
            bindings = <
&trans  &trans     &trans  &trans            &trans                              &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans            &trans                              &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans            &trans                              &trans  &trans  &trans  &trans  &trans
&trans  &kp LCTRL  &trans  &kp LEFT_COMMAND  &trans  &trans    &trans  &lt 6 LANG1         &trans  &trans  &trans
            >;
            sensor-bindings = <&mouse_scrl SCRL_UP SCRL_DOWN>;
        };

        // 2
        ios {
            bindings = <
&trans  &trans     &trans  &trans            &trans                              &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans            &trans                              &trans  &trans  &trans  &trans  &trans
&trans  &trans     &trans  &trans            &trans                              &trans  &trans  &trans  &trans  &trans
&trans  &kp LCTRL  &trans  &kp LEFT_COMMAND  &trans  &trans    &trans  &lt 7 LANG1         &trans  &trans  &trans
            >;
            sensor-bindings = <&mouse_scrl SCRL_UP SCRL_DOWN>;
        };

        // 3
        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &mkp MB1  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans                    &trans  &trans    &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans            &trans  &trans  &trans
            >;
        };

        // 4
        MARK {
            bindings = <
&kp EXCLAMATION  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT                               &kp CARET             &kp AMPERSAND  &kp ASTERISK          &kp UNDERSCORE         &kp MINUS
&trans           &trans  &trans    &trans      &trans                                    &kp PLUS              &kp EQUAL      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SQT
&trans           &trans  &trans    &trans      &trans                                    &kp NON_US_BACKSLASH  &kp PIPE       &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp DOUBLE_QUOTES
&trans           &trans  &trans    &trans      &trans       &trans    &kp BACKSPACE  &trans                                   &trans                &kp GRAVE              &kp TILDE
            >;
            sensor-bindings = <&re_kp C_VOLUME_DOWN C_VOLUME_UP>;
        };

        // 5
        CURSOR_win {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2        &kp NUMBER_3      &kp NUMBER_4         &kp NUMBER_5                    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0
&trans        &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &trans                          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans        &kp LC(MINUS)       &trans            &kp LC(PLUS)         &trans                          &trans          &trans          &trans        &trans           &trans
&trans        &trans              &trans            &trans               &trans        &trans    &trans  &trans                          &trans        &trans           &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // 6
        CURSOR_mac {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2        &kp NUMBER_3      &kp NUMBER_4         &kp NUMBER_5                    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0
&trans        &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &trans                          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans        &kp LC(MINUS)       &trans            &kp LC(PLUS)         &trans                          &trans          &trans          &trans        &trans           &trans
&trans        &trans              &trans            &trans               &trans        &trans    &trans  &trans                          &trans        &trans           &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // 7
        CURSOR_ios {
            bindings = <
&kp NUMBER_1  &kp NUMBER_2        &kp NUMBER_3      &kp NUMBER_4         &kp NUMBER_5                    &kp NUMBER_6    &kp NUMBER_7    &kp NUMBER_8  &kp NUMBER_9     &kp NUMBER_0
&trans        &kp LC(LEFT_ARROW)  &kp LC(UP_ARROW)  &kp LC(RIGHT_ARROW)  &trans                          &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&trans        &kp LC(MINUS)       &trans            &kp LC(PLUS)         &trans                          &trans          &trans          &trans        &trans           &trans
&trans        &trans              &trans            &trans               &trans        &trans    &trans  &trans                          &trans        &trans           &trans
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        // 8
        FUNCTION {
            bindings = <
&kp F1      &kp F2  &kp F3  &kp F4   &kp F5                     &bt_layer 0    &bt_layer 1    &bt_layer 2    &bt_base 3     &bt_base 4
&kp F6      &kp F7  &kp F8  &kp F9   &kp F10                    &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4
&bootloader &trans  &trans  &kp F11  &kp F12                    &trans         &trans         &trans         &trans         &studio_unlock
&batt_disp  &trans  &trans  &trans   &trans   &trans    &trans  &trans                        &trans         &bt BT_CLR     &bt BT_CLR_ALL
            >;
            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        // 9
        GAME {
            bindings = <
&trans  &trans  &trans  &trans  &trans                                 &kp LEFT_ARROW   &kp Q         &trans  &trans  &mkp MB1
&trans  &trans  &trans  &trans  &trans                                 &kp DOWN_ARROW   &kp UP_ARROW  &trans  &trans  &mkp MB2
&trans  &trans  &trans  &trans  &trans                                 &kp RIGHT_ARROW  &kp W         &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp X  &kp Z                          &kp RSHIFT    &trans  &trans
            >;
            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        // 10-12: extra slots for ZMK Studio runtime layer additions
        extra_0 { status = "disabled"; bindings = < &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans >; };
        extra_1 { status = "disabled"; bindings = < &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans >; };
        extra_2 { status = "disabled"; bindings = < &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans >; };
    };
};
